body {
	font-family: sans-serif;
}
.main {
	font-size: 30px;
	text-align: center;
	background: lime;
}
.header {
	padding: 20px;
	text-align: center;
	background: tomato;
	font-size: 30px;
	font-family: sans-serif;
}