body {
	font-family: sans-serif;
}
.main {
	font-size: 30px;
	text-align: center;
	background: lime;
	overflow: hidden;
}
.main p {
	max-width: 1000px;
	margin: 20px auto;
	background: rgba(255,255,255, .3);
	padding: 20px;
	box-shadow: 10px 10px 50px rgba(0,0,0, .5);
}
.header {
	padding: 20px;
	text-align: center;
	background: tomato;
	font-size: 30px;
	font-family: sans-serif;
}
.footer {
	padding: 20px;
	text-align: center;
	background: purple;
}
